<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button id="homeLogout" type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
                <div id="contentDiv" style="clear: right;">
                    <nav style="clear: right;">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                            <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                            <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                            <form action="#" th:action="@{/files/submitFile}"  enctype="multipart/form-data" method="POST">
                                <div class="container">
                                    <div class="row" style="margin: 1em;">
                                        <div class="col-sm-2">
                                            <label for="fileUpload">Upload a New File:</label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn btn-dark">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-striped" id="fileTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%" scope="col"></th>
                                            <th style="width: 80%" scope="col">File Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="file : ${fileList}">
                                        <td>
                                            <a target="_blank" class="btn btn-success" th:href="@{/files/download(id=${file.fileid})}">View</a>
                                            <a  class="btn btn-danger" th:href="@{/files/delete(id=${file.fileid})}" >Delete</a>
                                        </td>
                                        <th scope="row" th:text="${file.filename}"></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                            <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()">
                                + Add a New Note
                            </button>

                            <div class="table-responsive">
                                <table class="table table-striped" id="userTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%" scope="col"></th>
                                            <th style="width: 20%" scope="col">Title</th>
                                            <th style="width: 60%" scope="col">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each = "currentNote : ${notes}">
                                            <td>
                                                <button type="button" class="btn btn-success" th:onclick="javascript:showNoteModal([[${currentNote.noteid}]],[[${currentNote.notetitle}]],[[${currentNote.notedescription}]])">Edit</button>
                                                <button type="button" class="btn btn-danger" th:onclick="javascript:showDeleteNoteModal([[${currentNote.noteid}]])">Delete</button>
                                            </td>
                                            <th th:text = "${currentNote.notetitle}" scope="row" >Example Note Title</th>
                                            <td th:text = "${currentNote.notedescription}" >Example Note Description </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!--/*@thymesVar id="note" type=""*/-->
                                            <form action="#" method="POST" th:action="@{/upload-note}" th:object="${noteForm}">
                                                <input type="hidden" name="noteid" id="noteid">
                                                <div class="form-group">
                                                    <label for="notetitle" class="col-form-label">Title</label>
                                                    <input type="text" name= "notetitle" class="form-control" id="notetitle" maxlength="20" required th:field="*{notetitle}" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="notedescription" class="col-form-label">Description</label>
                                                    <textarea class="form-control" name="notedescription" id="notedescription" rows="5" maxlength="1000" required th:field="*{notedescription}"></textarea>
                                                </div>
                                                <button id="noteSubmit" type="submit" class="d-none"></button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="deleteNoteModal" tabindex="-1" role="dialog" aria-labelledby="deleteNoteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteNoteModalLabel">Delete a Note</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!--/*@thymesVar id="note" type=""*/-->
                                            <form action="#" th:method="POST" th:action="@{/upload-note}" th:object="${noteForm}" >
                                                Do you want to delete note?
                                                <input type="hidden" name="noteid" id="delete-note-id">
                                                <button id="deleteNoteSubmit" type="submit" class="d-none"></button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" onclick="$('#deleteNoteSubmit').click();">Delete</button>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        </div>
                        <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                            <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
                                + Add a New Credential
                            </button>

                            <div class="table-responsive">
                                <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%" scope="col"></th>
                                            <th style="width: 35%" scope="col">URL</th>
                                            <th style="width: 20%" scope="col">Username</th>
                                            <th style="width: 25%" scope="col">Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each = "currentCredential : ${credentials}">
                                        <td>
                                            <button type="button" class="btn btn-success" th:onclick="javascript:showCredentialModal([[${currentCredential.credentialid}]],[[${currentCredential.url}]],[[${currentCredential.username}]],[[${currentCredential.password}]])">Edit</button>
                                            <button class="btn btn-danger">Delete</button>
                                        </td>
                                        <th scope="row" th:text = "${currentCredential.url}">Example Credential URL</th>
                                        <td th:text = "${currentCredential.username}">Example Credential Username</td>
                                        <td th:text = "${currentCredential.password}">Example Credential Password</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="#" method="POST" th:action="@{/upload-credential}" th:object="${credentialForm}">
                                                <input type="hidden" name="credentialid" id="credentialid">
                                                <div class="form-group">
                                                    <label for="url" class="col-form-label">URL</label>
                                                    <input type="text" name= "url" class="form-control" id="url" maxlength="100" required th:field="*{url}" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="username" class="col-form-label">Username</label>
                                                    <input type="text" name= "username" class="form-control" id="username" maxlength="30" required th:field="*{username}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="password" class="col-form-label">Password</label>
                                                    <input type="text" name= "password" class="form-control" id="password" maxlength="30" required th:field="*{password}">
                                                </div>
                                                <button id="credentialSubmit" type="submit" class="d-none"></button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteid, notetitle, notedescription) {
                $('#noteid').val(noteid ? noteid : '');
                $('#notetitle').val(notetitle ? notetitle : '');
                $('#notedescription').val(notedescription ? notedescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialid, url, username, password) {
                $('#credentialid').val(credentialid ? credentialid : '');
                $('#url').val(url ? url : '');
                $('#username').val(username ? username : '');
                $('#password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }

            function showDeleteNoteModal(noteid) {
                $('#delete-note-id').val(noteid ? noteid : '');
                $('#deleteNoteModal').modal('show');
            }

        </script>
    </body>
</html>